{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
<!--la fila-->
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <h1>Ingresar datos de Marcas</h1>
    <div class="card"><!--Tarjeta-->
        <div class="card-body">
            <form action="/registrarMarcas/" method="POST">{% csrf_token %}
                <div class="form-group">
                        <input type="number" id="txtidmarcas" name="txtidmarcas" class="form-control" placeholder="Id Marcas" minlength="6" maxlength="6" required>
                </div>
                <div class="form-group py-3">
                    <input type="number" id="idsucursal" name="txtidsucursal" class="form-control" placeholder="Id Sucursal" minlength="6" maxlength="6" required>
                </div>
                <div class="form-group py-2">
                    <input type="number" id="idproducto" name="txtidproducto" class="form-control" placeholder="Id Producto" minlength="6" maxlength="6" required>
                </div>
                <div class="form-group py-2">
                        <input type="text" id="Nombre" name="txtnombremarca" class="form-control" placeholder="Nombre de marca"  maxlength="100" required>
                </div>
                <div class="form-group py-2">
                        <input type="number" id="NumTel" name="txtNumTelefono" class="form-control" placeholder="Numero de Telefono"  minlength="7" maxlength="10" required>
                </div>
                <div class="form-group py-2">
                    <input type="text" id="Correo" name="txtcorreo" class="form-control" placeholder="Correo electronico" maxlength="100" required>
                </div>
                <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div><!--Tarjeta-->
    </div><!--Tarjeta-->
</div><!--columa izquierda-->
<div class="col-sm-12 col-md-4 col-lg-4 col-xl-8">
    
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="mt-4 mb-4"> Mi Dulceria </h1>
        <img class="w-50" src="{% static "img/Marcas.png" %}" alt="Trulli" width="400" height="400">
    </div>

    <!--columna derecha-->
    <h1>Lista de marcas</h1>
    <div class="table-responsive"><!--tabla resposive-->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">id_Sucursal</th>
            <th scope="col">id_Producto</th>
            <th scope="col">Nombre de marcas</th>
            <th scope="col">Numero de telefono</th>
            <th scope="col">Correo electronico</th>
        </tr>
        </thead>
        <tbody>
            {% for M in mismarcas %}
            <tr>
            <td>{{forloop.counter}}</td>
            <td>{{M.id_marcas}}</td>
            <td>{{M.id_sucursal}}</td>
            <td>{{M.id_producto}}</td>
            <td>{{M.Nombre_Marca}}</td>
            <td>{{M.Numtelefono}}</td>
            <td>{{M.Correo}}</td>
            <td><a href="seleccionarMarcas/{{M.id_marcas}}" class="btn btn-info">Editar</a></td> <!--Falta link-->
            <td><a href="borrarMarcas/{{M.id_marcas}}" class="btn btn-danger">Borrar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div><!--columna derecha-->
</div>
<!--la fila-->
{% endblock cuerpo %}